{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ edit_page_title }}
{% endblock %}

{% block body %}
    <h1>{{ edit_page_title }}</h1>
    <form method="POST">
        {% csrf_token %}
        {% for err in form.page_title.errors %}
            <p class="alert alert-danger">{{ err }}</p>
        {% endfor %}
        {% for field in form %}
            <div>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}    
        <div>
        <input type="submit" value="Save">
        </div>
    </form>
{% endblock %}